.body{
    width: 1280px;
    margin-left: 100px;
    margin-right: 100px;
}


.header-title-container{
    height: 79px;
    width: 334px;
    margin-bottom: 38px;
    margin-top: 63px;
    display: flex;
align-items: flex-end;
}

.header-title{
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    text-align: center;
    
    color: #000000;
    
}
.header-link{
    text-decoration-line: none;
}
.header-title-blue{
  color: #4BCAFF;  
}
.main-flex-container{
    width: 1280px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.flex-container-menu{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 72px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #35444F;
}

.upper-menu-link{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
color: #FFFFFF;
text-decoration-line: none;
height: 100%;
}
.upper-menu-link:hover {
    background: #222F3A;
}

.button-1{
    width: 331px;
    border-left: #FFFFFF 2px solid;
    border-right: #FFFFFF 2px solid;
    text-align: center;
}

.button-2{
    width: 150px;
    border-right: #FFFFFF 2px solid;
    text-align: center;
}

.button-3{
    width: 284px;
    border-right: #FFFFFF 2px solid;
    text-align: center;
}

.button-4{
    width: 221px;
    border-right: #FFFFFF 2px solid;
    text-align: center;
}

.aside-flex-container{
    width: 342px;
    height: 397px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    background: rgba(0, 0, 0, 0.0001);
border: 1px solid #000000;
margin-top: 48px;
}

.aside-menu-link{
    height: 79px;
    width: 340.2px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration-line: none;
}

.aside-menu-link:hover{
    background: #DBDBDB;
}

.aside-menu-link:hover>.aside-button-text{
    padding-left: 80px;
}
.aside-button-text{
    display: block;
    text-align: center;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 27px;
line-height: 27px;
color: #485863;
padding-left:44px;
}

.why_ramda_container{
    width: 885px;
    margin-top: 48px;

}
.section_image_container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 529px;
}

.section_image{
    transition: transform .5s ease;
}
.section_image:hover{
    transition: transform .5s ease;
    transform: scale(1.2);
}
.article_text{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
color: #2C2C2C;
}

.article1{
    padding-bottom: 34px;
    padding-top: 37px;
}

.footer-flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    height: 69px;
    background: rgba(99, 105, 110, 0.48);
    margin-top: 54px;
    margin-bottom: 30px;
}
.bottom-menu-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 875px;
    margin-left: 40px;
}

.bottom-menu-link{
    display: flex;
    align-items: center;
    text-decoration-line: none;
}

.bottom-menu-link:hover > p {
    text-decoration-line: underline;
    color: #3181A6;
}

.bottom-menu-text{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 28px;

display: flex;
align-items: center;

color: #0C1927;

}

.copyright-container{
padding-right: 40px;
}

.copyright-text{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 24px;

display: flex;
align-items: center;

color: #010101;
}

